p {
  text-align: center;
}

.establishment-name {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #eee;
}

.discount {
  background-color: #e91224;
  color: white;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.coupon-image{
  border-radius: 3px 3px 0 0;
}

.original-price{
  text-decoration: line-through
}