/* You can add global styles to this file, and also import other style files */
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

body{
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.full-width{
  width: 100%;
}

