<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-4 ui-xl-4 ui-md-offset-2 ui-lg-offset-4 ui-xl-offset-4 white container">

    <div class="ui-g">
      <div class="ui-g-12">
        <h3 class="label-login">Login</h3>
      </div>

      <div class="ui-g-12  input-login">
        <span class="ui-float-label">
          <input id="input-username" type="text" class="full-width" pInputText>
          <label for="input-username">Nome de usuário</label>
        </span>
      </div>

      <div class="ui-g-12 input-login">
        <span class="ui-float-label">
          <input id="input-password" type="password" class="full-width" pInputText>
          <label for="input-password">Senha</label>
        </span>
      </div>

      <div class="ui-g-6 button-login">
        <button class="full-width ui-button-success" pButton label="Cadastrar-se" (click)="register()"></button>
      </div>

      <div class="ui-g-6 button-login">
        <button class="full-width ui-button-primary" pButton label="Entrar" (click)="login()"></button>
      </div>
    </div>
  </div>
</div>