.coupons-group-label{
  color: #a6a6a6;
}

.establishment-name{
  color: white;
}

.header-establishment{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.add-coupon{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-color: #fb8c00 !important;
  background-color: #fb8c00 !important;
  color: white !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.footer-container{
  height: 72px;
}

.establishment-more-options{
  font-size: 32px;
  color: white;
  float: right;
}

.menu-options{
  margin-top: 40px;
}

.icon-item-menu{
  float: left;
  font-size: 21px;
}

.menu-item{
  margin-bottom: 20px;
}

.menu-item:hover{
  cursor: pointer;
}