<ion-header >
  <ion-toolbar color="primary">
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{(coupon$ | async)?.establishment.businessName}} - {{(coupon$ | async)?.department}}</ion-card-subtitle>
          <ion-card-title>{{(coupon$ | async)?.discount}}% de desconto!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item *ngIf="(coupon$ | async)?.unlimited === false">
              <ion-label>{{(coupon$ | async)?.amount}} unidades restantes.</ion-label>
            </ion-item>
            <ion-item *ngIf="(coupon$ | async)?.unlimited === true">
              <ion-label>Cupons <strong>Ilimitados</strong> ou até que se acabe o estoque!</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{calcutateRemainingDate((coupon$ | async)?.automaticDeactivationDate)}} restantes.</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>