<form [formGroup]="couponForm">

  <div class="ui-g">
    <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-4 ui-xl-4 ui-md-offset-2 ui-lg-offset-4 ui-xl-offset-4 white container ui-card">

      <div class="ui-g-12 input-coupon">
        <h3 class="label-coupon">Um novo cupom!</h3>
        <h5 class="label-coupon">Seus clientes vão adorar :O</h5>
      </div>

      <div class="ui-g-12 input-coupon">
        <p-fileUpload #uploader name="files[]" mode="basic" chooseLabel="Selecione a imagem do produto" styleClass="full-width" auto="auto"
          customUpload="true" (uploadHandler)="upload($event)" accept="image/*"></p-fileUpload>
        <p-progressBar *ngIf="loadingImage$ | async" mode="indeterminate" [style]="{'height': '4px'}"></p-progressBar>
        <div class="product-image" [ngStyle]="{'background-image': 'url(' + baseURL + ( image$ | async)?.fullImage + ')'}"></div>
      </div>

      <div class="ui-g-12 input-coupon">
        <span class="ui-float-label">
          <input id="input-product" type="text" class="full-width" pInputText formControlName="product">
          <label for="input-product">Produto</label>
        </span>
      </div>

      <div class="ui-g-12 input-coupon">
        <span class="ui-float-label">
          <input id="input-product" type="text" class="full-width" pInputText formControlName="originalPrice">
          <label for="input-product">Preço original</label>
        </span>
      </div>

      <div class="ui-g-12 input-coupon">
        <span class="ui-float-label">
          <input id="input-discount" type="text" class="full-width" pInputText formControlName="discount">
          <label for="input-discount">Desconto</label>
        </span>
      </div>

      <div class="ui-g-12 input-coupon chkbox-label-unlimited">
        <p-checkbox name="unlimited" label="Itens ilimitados" formControlName="unlimited" binary="true"></p-checkbox>
      </div>

      <div class="ui-g-12 input-coupon">
        <span class="ui-float-label">
          <input id="input-amount" type="text" class="full-width" pInputText formControlName="amount">
          <label for="input-amount">Quantidade</label>
        </span>
      </div>

      <div class="ui-g-12 input-coupon">
        <span class="ui-float-label">
          <p-inputMask id="input-auto-deactivation-date" styleClass="full-width" formControlName="automaticDeactivationDate" mask="99/99/9999"></p-inputMask>
          <label for="input-auto-deactivation-date">Data de desativação automática</label>
        </span>
      </div>

      <div class="ui-g-12 input-coupon">
        <p-dropdown [options]="status" [style]="{'width': '100%'}" class="full-width" placeholder="Status"
          formControlName="status"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-g-offset-6 button-coupon">
        <button class="full-width ui-button-success" pButton label="Criar" (click)="create()" [disabled]="!couponForm.valid"></button>
      </div>
    </div>
  </div>
</form>