<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-4 ui-xl-4 ui-md-offset-2 ui-lg-offset-4 ui-xl-offset-4 white container">

    <div class="ui-g">
      <div class="ui-g-12">
        <h3 class="label-wellcome">Bem vindo ao Nogue!</h3>
      </div>

      <div class="ui-g-12 button-wellcome">
        <button class="full-width ui-button-success" pButton label="Sou um estabelecimento" (click)="goToLogin()"></button>
      </div>

      <div class="ui-g-12 button-wellcome">
        <button class="full-width ui-button-primary" pButton label="Sou um consumidor" (click)="goToCoupons()"></button>
      </div>
    </div>
  </div>
</div>